.newsSwiper :global(.swiper-wrapper){
  display: flex;
  align-items: flex-start !important;
  height: 100%;
  justify-content: flex-start;
  padding-bottom: 5vw;
}
.newsSwiper :global(.swiper-scrollbar){
  width: 50vw !important;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  margin-top: 5vw !important;
}
/* .newsSwiper :global(.swiper-slide-prev){
  height: 646px;
  width: 500px;
}
.newsSwiper :global(.swiper-slide-next){
  height: 646px;
  width: 500px;
}
.newsSwiper :global(.swiper-slide-active){
width: 875px;
height: 780px;
} */
