.careerSwiper .myswiper{
    padding-bottom: 5vw;
}
.careerSwiper .swiper .swiper-wrapper .swiper-slide{
    margin-right: 0px!important;
}
.careerSwiper .swiper .swiper-wrapper .swiper-slide-next .career-card{
    background-color: #D9E2FB80;
    transition: all 0.5s ease;
}
.careerSwiper .swiper .swiper-wrapper .swiper-slide-next .career-card .location{
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
}
.careerSwiper .swiper .swiper-pagination .swiper-pagination-bullet{
border: 1px solid black;
width: 0.5vw;
height: 0.5vw;
background-color: transparent;
opacity:1;
}
.careerSwiper .swiper .swiper-pagination .swiper-pagination-bullet-active{
    width: 2vw;
    border-radius: 10px;
    background-color: #143CA3;
}