.endoSmallSwiper{
    width: 50%;
    position: relative;
    left: -20%;
   top: 50%;
}
.endoSmallSwiper .swiper-wrapper{
    display: flex ;
    gap: 0.7vw;
}
 .endoSwiper {
    width: 85vw;
}
.endoSwiper .swiper-slide{
    width: 85vw !important;
}
.endoSwiper .swiper-button-prev , .endoSwiper .swiper-button-next{
    display: none;
}


@media screen  and (max-width:541px){
    .endoSwiper {
        width: 90vw;
    }
    .endoSwiper .swiper-slide{
        width:75vw !important;      
    }
    .endoSwiper{
        padding-bottom: 20vw;
    }
    .endoSwiper .swiper-button-prev , .endoSwiper .swiper-button-next{
        display: block;
        top: 90%;
        /* position: relative; */
    }
    .endoSwiper{
        padding-bottom: 20vw;
    }
    .endoSwiper .swiper-button-prev::after , .endoSwiper .swiper-button-next::after{
       color: black;
       font-size: 30px;
       border-radius: 50%;
       border: 2px solid black;
       padding: 50%;
    }
    .endoSwiper .swiper-button-prev{
        left:40%;
        bottom:-50px;
    }
    .endoSwiper .swiper-button-next{
        left:60%;
        bottom: -30px;
    }
}

@media screen and (min-width: 540px) and (max-width: 1023px){
    .endoSmallSwiper{
        width: 58vw;
    }
    .endoSmallSwiper img{
        height: 10vw!important;
        max-width: 18vw;
        border-radius: 20px;      
    }
    .endoSmallSwiper .swiper-slide{
        margin-right: 6vw!important;
    }

}