.endoSmallSwiper{
    width: 50%;
    position: relative;
    left: -20%;
   top: 50%;
}
.endoSmallSwiper .swiper-wrapper{
    display: flex ;
    gap: 0.7vw;
}
.mySwiper {
    width: 85vw;
}
.mySwiper .swiper-slide{
    width: 85vw !important;
}