@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Fonts */
@import url('./fonts.css');
@import url('./buttons.css');
@import url('./swiper.css');
@import url('./careerswiper.css');
@import url('./endoswiper.css');
@import url('./homecarousel.css');
@import url('./molecularswiper.css');
@import url('./amacard.css');
@import url('./iccards.css');
/* @import url('./tablet.css'); */
/* @import url('./endocards.css'); */

@import url('./manufactuing-carousel.css');

:root {
  --text-color: #111111;
  --p-text-color:#2A2A2A;
  --color-primary: #000;
  --button-primary: #143CA3;
  --orb-color-1: #d367d7cf;
  --orb-color-2: #669fe5c1;
  --orb-color-3: #a9c4ee;

  --transition-1:  all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  
}
.orb-canvas {
  width: 100%;
  height: 110%;
  pointer-events: none;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}

/* Hamburger Button Start */
.header .burger-wrapper .menu-btn:hover .line-wrapper .line
.burger-wrapper{
  background-color: #2A2A2A;
  transition: all 0.3s ease;
}
.header-glass {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.038);
}
.menu-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5vw;
  justify-content: center;
  position: relative;
  top: 1px;
  transition: transform .5s cubic-bezier(.19,1,.22,1);
  width: 5vw;
  will-change: transform;
  z-index: 11;
}
.menu-btn:after, .menu-btn:before {
  content: "";
  display: block;
  position: absolute;
}
.menu-btn:before {
  background-color: #2A2A2A;
  border-radius: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  transform: scale(.7);
  transform-origin: center;
  transition: transform .5s cubic-bezier(.19,1,.22,1),opacity .5s cubic-bezier(.19,1,.22,1);
  width: 100%;
  will-change: transform;
}
.menu-btn.big-burger:after {
  border-radius: 140%;
  content: "";
  display: block;
  height: 140%;
  left: -20%;
  position: absolute;
  top: -20%;
  width: 300%;
}
.menu-btn .line-wrapper {
  display: block;
}
.menu-btn .line-wrapper .line {
  background-color: #2A2A2A;
  border-radius: 3px;
  display: block;
  height: 2px;
  position: relative;
  transition: transform .5s cubic-bezier(.19,1,.22,1),background-color .5s cubic-bezier(.19,1,.22,1);
  width: 3vw;
  will-change: transform;
}
.menu-btn .line-wrapper .line:first-child {
  margin-bottom: 5px;
}
.menu-btn .line-wrapper .line:nth-child(2) {
  margin-top: 5px;
}
.menu-btn:hover:before {
    opacity: 1;
    transform: scale(1);
}
.burger-wrapper .menu-btn:hover .line-wrapper .line, .burger-wrapper .menu-btn:hover .line-wrapper .line {
  background-color: #fff;
}
.menu-btn:hover:not(.open) .line-wrapper .line {
  transform: scaleX(.6);
}
.menu-btn:hover.open .line-wrapper .line:first-child {
  transform: translateY(4px) rotate(-45deg) scaleX(.5);
}
.menu-btn:hover.open .line-wrapper .line:nth-child(2) {
  transform: translateY(-3px) rotate(45deg) scaleX(.5);
}
.menu-btn.open .line-wrapper .line:first-child {
  transform: translateY(4px) rotate(-45deg) scaleX(.6);
}
.menu-btn.open .line-wrapper .line:nth-child(2) {
  transform: translateY(-3px) rotate(45deg) scaleX(.6);
}

/* Hamburger Button Stop */

/*---------- */
body{
  overflow-x: hidden;
  width: 100vw;
  color: var(--text-color);
  font-family: 'Sofia Pro';
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

.aeonik{
  font-family: 'Aeonik';
}

.c-text{
  color: var(--text-color);
}
[data-title-anim],
[data-para-anim],
.para-anim,
.lineWord {
  font-kerning: none;
}
[data-title-anim] .line,
[data-para-anim] .line,
.para-anim .line,
.lineWord .line {
  overflow: hidden;
  
}

/* .main-gradient {
  background: linear-gradient(120.7deg, #e194d3 0%, #ad84f0 50%, #a8b1f8 100%);
  background-size: 300% 300%;
  opacity: 0.8;
  animation: gradient 10s ease infinite;
} */

@-webkit-keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@-moz-keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@-o-keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Titles */
.title-1{
  font-size: 5.3vw;
  font-weight: 300;
  color: var(--text-color);
  line-height: 0;
}

.title-2{
  font-size: 3.96vw;
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.25;
}
.content-p-lg{
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.45vw;
}
.content-p-md{
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.25vw; 
}

.content-p{
  color: var(--p-text-color);
  font-weight: 300;
  font-size: 1.15vw;
  line-height: 1.7;
}

.p-y-lg{
  padding: 12% 0;
}
.p-y-md{
  padding: 8% 0;
}
.p-y-sm{
  padding: 5% 0;
}
.container-lg{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-sm{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* Index Page CSS Start */

/* Hero Section - 1920px */
.homeCarousel{
  width: 80vw !important;
}
.product-bg{
  background-image: url('/assets/home/product-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.product-card{
  /* background-image: url('/assets/products/product-frame.svg'); */
  height: 44vw;
  width: auto;
  padding: 1%;
  margin: 2% 2%;
  text-align: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.product-card .main{
  width: 100%;
  height: 100%;
  padding: 4vw;
}

.gl {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100% !important;
  min-height: 100% !important;
  opacity: .5;
}

#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #110430; 
  --gradient-color-2: #1e0558; 
  --gradient-color-3: #421065;  
  --gradient-color-4: #521475;
}

.career{
  background-image: url('/assets/home/career-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8%;
  border-radius: 3vw;
}
.text-shadow{
  
  text-shadow: 0px 3px 8px rgba(0, 0, 0, .50);
}
.text-shadow1{
  text-shadow: 0 1px 1px rgba(0, 0, 0, .45);

}
/* .virtual{
  padding: 6% 8%;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* text anim */
[data-title-anim],
[data-para-anim],
.para-anim,
.lineWord {
  font-kerning: none;
}
[data-title-anim] .line,
[data-para-anim] .line,
.para-anim .line,
.lineWord .line {
  overflow: hidden;
}


/*About page*/
.molecular{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.work-card{
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);  
}
.location{
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.08);

}

.portfolio-text::before{
  content: " ";
  width: 15vw;
  height: 1px;
  background-color: #000;
  display: block;
}

.capability-card-outer{
  height: 20vw;
  width: 20vw;
  background-image: linear-gradient(#BDCFFD, #2280C6);
  /* transform: rotate(-8.9deg); */
  border-radius: 40px;
}

/* Footer Links */
.footer-link a{
  position: relative;
  display: block;
  overflow: hidden;
}
.footer-link a span{
  display: block;
  transition: transform 1.2s cubic-bezier(.19,1,.22,1);
}
.footer-link a span::after{
  content: attr(data-attr);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(110%);
}
.footer-link a:hover span{
  transform: translateY(-110%);
  transition: transform 1.2s cubic-bezier(.19,1,.22,1);
}
.glassmorphism {
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.45);
}

.imageanim{
  transform: translateY(-15%);
  scale: 1.3;
}
.bgfilter img{
  filter: brightness(0.9);
}

.imgoverlay{
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.227);
  transition:  all 1s cubic-bezier(.19,1,.22,1);
}
.homeCarousel .swiper-button-prev::after,.homeCarousel .swiper-button-next::after{
  width: 80px !important;
  color: white;
} 


@media screen  and (max-width:541px){
  ::-webkit-scrollbar {
    height: 0;
    width: 0; /* Hide the scrollbar track */
}

::-webkit-scrollbar-thumb {
    display: none; /* Hide the scrollbar thumb */
}
  .title-1{
      font-size: 13.3vw;
  }
  .title-2{
    font-size: 11vw;
  }
  .content-p{
    font-size: 4.5vw;
  }
  .product-card{
    height: 200vw;
    width:auto;
    padding: 0;
    margin: 0;
    margin-right:0;
    text-align: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .content-p-md{
    font-size: 3.72vw;
  } 
  .container-sm{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-btn .line-wrapper .line{
    height: 3px;
    width: 12vw;
    right: 6vw;
  }
  .homeCarousel .swiper-button-prev{
    position: relative; 
    left: 30%;
    bottom: -38px;
  }
  .homeCarousel .swiper-button-next{
    position: relative;
    left: 55%;
    bottom: 0px;
  }
  .homeCarousel .swiper-button-prev, .homeCarousel .swiper-button-next{
    border: 2px solid white;
    border-radius: 50%;
    padding: 8%;  
  }

  .homeCarousel .swiper-button-prev::after,.homeCarousel .swiper-button-next::after{
    width: 50px!important;
    color: white;
    font-size: 30px;
  } 
  .p-y-sm{
    padding: 10% 0%;
  }
  .content-p-lg{
    font-size: 6.2vw;
  }
  .capability-card-outer{
    height: 80vw;
    width: 80vw;
    background-image: linear-gradient(#BDCFFD, #2280C6);
    /* transform: rotate(-8.9deg); */
    border-radius: 40px;
  }
  .imageanim{
    transform: translateY(0%);
    scale: 1;
  }
  .para-animation .line{
    overflow: hidden;
  }
  }


@media screen and (min-width: 540px) and (max-width: 1023px){
  ::-webkit-scrollbar {
    height: 0; 
    width: 0;
}

::-webkit-scrollbar-thumb {
    display: none; 
} 

    .title-1{
      font-size: 7vw;
      font-weight: 300;
      color: var(--text-color);
      line-height: 0; 
    }
    
    .title-2{
      font-size: 5.5vw;
      font-weight: 300;
      color: var(--text-color);
      line-height: 1.25;
     ;
    }
    .content-p-lg{
      color: var(--text-color);
      font-weight: 400;
      font-size: 2vw;
    }
    
    .content-p-md{
      color: var(--text-color);
      font-weight: 300;
      font-size: 1.8vw;
      
    }
    
    .content-p{
      color: var(--p-text-color);
      font-weight: 300;
      font-size: 2vw;
      line-height: 1.7;
    }
    
    .p-y-lg{
      padding: 12% 0;
    }
    .p-y-md{
      padding: 8% 0;
    }
    .p-y-sm{
      padding: 5% 0;
    }
    .container-lg{
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .container-sm{
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
    .para-animation .line{
      overflow: hidden;
    }
  

    /* menu button */

    .header .burger-wrapper .menu-btn:hover .line-wrapper .line
.burger-wrapper{
  background-color: #2A2A2A;
  transition: all 0.3s ease;
}

.menu-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  height:10vw;
  justify-content: center;
  position: relative;
  top: 1px;
  transition: transform .5s cubic-bezier(.19,1,.22,1);
  width: 10vw;
  will-change: transform;
  z-index: 11;
}
.menu-btn:after, .menu-btn:before {
  content: "";
  display: block;
  position: absolute;
}
.menu-btn:before {
  background-color: #2A2A2A;
  border-radius: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  transform: scale(.7);
  transform-origin: center;
  transition: transform .5s cubic-bezier(.19,1,.22,1),opacity .5s cubic-bezier(.19,1,.22,1);
  width: 100%;
  will-change: transform;
}
.menu-btn.big-burger:after {
  border-radius: 140%;
  content: "";
  display: block;
  height: 140%;
  left: -20%;
  position: absolute;
  top: -20%;
  width: 300%;
}
.menu-btn .line-wrapper {
  display: block;
}
.menu-btn .line-wrapper .line {
  background-color: #2A2A2A;
  border-radius: 3px;
  display: block;
  height: 2px;
  position: relative;
  transition: transform .5s cubic-bezier(.19,1,.22,1),background-color .5s cubic-bezier(.19,1,.22,1);
  width: 5vw;
  will-change: transform;
}
.menu-btn .line-wrapper .line:first-child {
  margin-bottom: 5px;
}
.menu-btn .line-wrapper .line:nth-child(2) {
  margin-top: 5px;
}
.menu-btn:hover:before {
    opacity: 1;
    transform: scale(1);
}
.burger-wrapper .menu-btn:hover .line-wrapper .line, .burger-wrapper .menu-btn:hover .line-wrapper .line {
  background-color: #fff;
}
.menu-btn:hover:not(.open) .line-wrapper .line {
  transform: scaleX(.6);
}
.menu-btn:hover.open .line-wrapper .line:first-child {
  transform: translateY(4px) rotate(-45deg) scaleX(.5);
}
.menu-btn:hover.open .line-wrapper .line:nth-child(2) {
  transform: translateY(-3px) rotate(45deg) scaleX(.5);
}
.menu-btn.open .line-wrapper .line:first-child {
  transform: translateY(4px) rotate(-45deg) scaleX(.6);
}
.menu-btn.open .line-wrapper .line:nth-child(2) {
  transform: translateY(-3px) rotate(45deg) scaleX(.6);
}

/* hero carousel */
.homeCarousel{
  width: 80vw !important;
}

.product-card{
  /* background-image: url('/assets/products/product-frame.svg'); */
  height: 40vh;
  width: 75vw;
  padding: 1%;
  
  /* margin: 4% 6%; */
  text-align: left;
  /* background-repeat: no-repeat; */
  background-size: contain;
  background-position: center center;
}

.product-card .main{
  width: 100%;
  height: 100%;
  padding: 4vw;
}
.imageanim{
  transform: translateY(0%);
  scale: 1;
}

/* capability-cards */
.capability-card-outer{
  height: 40vw;
  width: 40vw;
  background-image: linear-gradient(#BDCFFD, #2280C6);
  /* transform: rotate(-8.9deg); */
  border-radius: 40px;
}
  }


@layer base {
  :root {
    --radius: 0.5rem;
  
  }
  
}
  
  