*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--page-padding: 1.5rem;
	
}

.content {
	padding: var(--page-padding);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.content--sticky {
	width: 100vw;
	position: sticky;
	top: 0;
	--offset: 0px;
	top: var(--offset);
	height: calc(100vh - var(--offset));
}

.content--card {
	display: flex;
	flex-direction: column;
	height: 35vw;
	width: 95vw;
	
	aspect-ratio: 0.8;
	top: 5vh;
	margin: auto;
	border-radius: 14px;
	gap: 3vh;
	text-align: center;
	margin-bottom: 5vh;
}




@media screen and (max-width:541px) {
	/* body {
		--page-padding: 2rem 3rem;
	} */
	.content--card {
		height: 100% !important;
		margin-bottom: 0 !important;
		
	}
	.content {
		/* padding: var(--page-padding); */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	
	.content--sticky {
		width: 100vw;
		position: static;
		height: 100%;
	}
	.content--card {
		aspect-ratio: auto;
	}
}
