.molecularSwiper .swiper-button-prev , .molecularSwiper .swiper-button-next{
    position: relative;
}
.molecularSwiper{
    padding-bottom: 20vw;
}
.molecularSwiper .swiper-button-prev::after , .molecularSwiper .swiper-button-next::after{
   color: black;
   font-size: 30px;
   border-radius: 50%;
   border: 2px solid black;
   padding: 50%;
}
.molecularSwiper .swiper-button-prev{
    left:40%;
    bottom:-50px;
}
.molecularSwiper .swiper-button-next{
    left:60%;
    bottom: -30px;
}
