@media screen and (min-width: 540px) and (max-width: 1023px){
    .title-1{
      font-size: 7vw;
      font-weight: 300;
      color: var(--text-color);
      line-height: 0;
      
      
    }
    
    .title-2{
      font-size: 3.96vw;
      font-weight: 300;
      color: var(--text-color);
      line-height: 1.25;
     ;
    }
    .content-p-lg{
      color: var(--text-color);
      font-weight: 400;
      font-size: 1.45vw;
    }
    
    .content-p-md{
      color: var(--text-color);
      font-weight: 300;
      font-size: 1.25vw;
      
    }
    
    .content-p{
      color: var(--p-text-color);
      font-weight: 300;
      font-size: 1.15vw;
      line-height: 1.7;
    }
    
    .p-y-lg{
      padding: 12% 0;
    }
    .p-y-md{
      padding: 8% 0;
    }
    .p-y-sm{
      padding: 5% 0;
    }
    .container-lg{
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .container-sm{
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  
  }
  
  